body{
    margin:0;
    padding: 0;
    border: 0;
    font-family: arial,sans-serif;
    font-size:0.9em;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/*Header*/
.header-nav {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 16px;
    margin-top: 14px;
}
.header-nav-right
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-nav-right a
{
    font-size: small;
    color: black;
}

.header-profile-pic{
    border-radius: 50%;
    margin-left: 24px;

}
.header-profile-pic:hover{
    box-shadow: 0 0 4px  gainsboro;
    border-radius: 20px;
    cursor: pointer;
}

section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

/*Search Input*/
.search-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 584px;
    height: 44px;
    padding: 0px 14px;
    margin-top: 24px;
}
.search-input:hover
{
    box-shadow: 0 0 4px  gainsboro;
}

.search-input > input
{
    border: none;
    outline: none;
    flex:1;
}

/* Button */
.buttons{
 margin: 24px;
}
button {
    background-color: #F8F9FA;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    margin-right: 10px;
}
button:hover
{
    cursor: pointer;
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px  gainsboro;
}

/* Footer */
footer {
    background-color: #F2F2F2;
    position: fixed;    
    width: 100%;
    bottom: 0;  
}

footer a {
    color:#70757a;
}

.footer-nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
}
.footer-left
{
    display: flex;
    justify-content: flex-start;
    width: 30%;
}
.footer-nav a{
    padding: 15px;
}
.footer-middle
{
    display: flex;
    justify-content: center;
    width: 30%;
}
.footer-right
{
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.footer-country
{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}
